.app {
  text-align: center;
}
.navbar {
  text-align: center;
  background-color: blue;
  line-height: 1em;
}
.link {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: white;
}
.link:hover {
  text-decoration: underline;
  color: red;
}
.home {
  margin-top: 35vh;
}
.skills {
  list-style-type: none;
}
.projects {
  margin: 40px;
}

